.info {
  overflow-y: scroll;
  max-height: calc(100vh - 86px);
  padding: 24px;

  h2 {
    font-family: $primaryType;
    color:  $secondaryTypeColor;
    margin-bottom: 12px;

    span {
      border-bottom: 3px solid $accent;
    }
  }

  &__city {
    color: $tertiaryTypeColor;
  }

  &__address,
  &__hours {
    margin-top: 12px;
    font-size: 12px;
  }

  &__image {
    width: 100%;
  }

  &__slider-container,
  &__image {
    margin: 20px 0;
  }
}
