/*
  Variables go here
*/

// TYPEFACES
$primaryType: 'Arial Black', Arial, sans-serif;
$secondaryType: 'Bookman Old Style', serif;

// COLORS
$primaryTypeColor: #f1f1f1;
$secondaryTypeColor: #4e4e4e;
$tertiaryTypeColor: #AAAAAA;
$navBg: #a09270;
$infoBg: #F1F1F1;
$accent: #ff4040;
$linkColor: #FDBE2C;

$navHeight: 45px;
